name: your_env_name
channels:
  - defaults
  - conda-forge
dependencies:
  - python=3.12
  - pip
  - albucore==0.0.24
  - albumentations==2.0.6
  - appdirs==1.4.4
  - astor==0.8.1
  - atomicwrites==1.4.0
  - decorator==4.4.2
  - easyocr==1.7.2
  - imageio-ffmpeg==0.6.0
  - jsonpointer==2.1
  - lxml==5.2.1
  - matplotlib==3.9.2
  - moviepy==1.0.3
  - numpy
  - opencv-contrib-python==4.11.0.86
  - opencv-python-headless==4.11.0.86
  - pandas
  - paddleocr==2.10.0
  - paddlepaddle-gpu==2.6.0.post117
  - protobuf==3.20.2
  - pyqt5==5.15.10
  - pyqtwebengine==5.15.6
  - python-bidi==0.6.6
  - pywin32==305.1
  - pydantic==2.11.4
  - setuptools==75.1.0
  - wheel==0.44.0
  - pip:
      - albucore==0.0.24
      - albumentations==2.0.6
      - astor==0.8.1
      - appdirs==1.4.4
      - atomicwrites==1.4.0
      - decorator==4.4.2
      - easyocr==1.7.2
      - imageio-ffmpeg==0.6.0
      - jsonpointer==2.1
      - lxml==5.2.1
      - matplotlib==3.9.2
      - moviepy==1.0.3
      - opencv-contrib-python==4.11.0.86
      - opencv-python-headless==4.11.0.86
      - paddleocr==2.10.0
      - paddlepaddle-gpu==2.6.0.post117
      - protobuf==3.20.2
      - pyqt5==5.15.10
      - pyqtwebengine==5.15.6
      - python-bidi==0.6.6
      - pywin32==305.1
      - pydantic==2.11.4
      - setuptools==75.1.0
      - wheel==0.44.0
